[user]
	useConfigOnly = true
	name = Andrew Watson
	email = wandrewjam@gmail.com
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global

# Allow for customization in ~/.gitconfig_local
[include]
	path = ~/.gitconfig_local
